@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  background-image: url('../images/image_Nero_AI_Image_Upscaler_Photo_Face.jpeg');
  background-size: cover;
}

p {
  font-family: inherit;
  font-size: 18px;
  color: white;
}

img{
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  height: 150px;
  width: 200px;
    
}

h3{
  color: white;
  font-family: inherit;
  font-size: 18px;
  text-align: center;
  width: 200px;
  height: auto;
}

a {
  text-decoration: underline;
  color: white;
}

#header {
  width: 95%;
  height: 180px;
  background-color: #202324fa;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  padding: 0 20px;
}

#header img {
  height: 120px;
  width: auto;
  margin-left: 20px;
}

#header h1 {
  margin-left: 20px;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #e2e2e2;
  border-left: rgb(255, 255, 255) 2px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  flex: 1;
}


.headerButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.HeaderButton {
  margin: 0 10px;
  padding: 5px 5px 8px 8px;
  height: 30px;

  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #ffffff;

  text-decoration: none;
}

#ReserveNow {
    background-color: #56361C;
    color: white;
    border: none;
    border-radius: 10px; 
}
/*
    SECCION PRINCIPAL DE LA WEB
*/

#principalSection {
  width: 55%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 20px;

  border-radius: 20px;

  background-color: #202324;
}

#principalSection h2 {
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 70px;
  text-align: center;
}

#principalSection h4 {
  color: white;
  font-family: inherit;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

#instalationsContainer {
  display: flex;
  justify-content: center;
  
  margin-bottom: 4  0px;
    
}

.instalation {
  background-color: #5f5f5f;
  width: 200px;
  border-radius: 20px;
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;
  margin-bottom: 40px;
}

#principalButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
    
}

#principalButtons button {
  padding: 10px 20px;
    
} 

#instalacionButton{
  background-color: #6B4423;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: default;
}

#instalacionButton:hover {
    background-color: #56361C;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: default;
    box-shadow: #ffffff 0px 0px 10px;
}

#horariosButton {
    background-color: #5a4e4e;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: default;
}

#horariosButton:hover {
    background-color: #3e3a3a;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: default;
    box-shadow: #ffffff 0px 0px 10px;
}

.sectionTitle_instalaciones {
  width: 100%;
  height: auto;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

}

.sectionTitle_instalaciones h2 { 
  color: white; 
  font-family: inherit; 
  font-size: 40px; 
  text-align: center; 
}

#instalacionesWidgetsTitle {
  display: flex; 
  justify-content: center; 

  background-color: #202324;
  padding: 20px 0 20px 0;
}
#instalacionesWidgetsTitle h2 {
  color: white; 
  font-family: inherit; 
  font-size: 42px; 
  text-align: center; 
  width: auto; 
  height: auto;
  margin: 20px 0 20px 0;
}

#section_widgets_deportes{
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap;
  gap: 40px;

 margin: auto;
 background-color: #202324;
}

.container_widgets_deportes {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.widget_deporte {
  background-color: #353535ce;
  width: 900px;
  border-radius: 20px;
  position: relative;
 
  
  display: flex;
  
  flex-direction:row;
  align-items: center;

  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  transition: all 0.3s ease-out;
  transform: translate3d(0px,0px, 0);
}

.widget_deporte img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.widget_deporte:hover {
  box-shadow: #ffffff 0px 0px 15px;
  transform: translate3d(20px, -10px, 0);
  transition: all 0.3s ease;
}

.widget_deporte p {
  color: white; 
  font-family: inherit; 
  font-size: 18px; 
  text-align: left; 
  padding: 20px;
}

/*
    SECCION DE  HORARIOS 
*/

#horariosTitle {
  display: flex; 
  justify-content: center; 
  background-color: #202324;
  padding: 20px 0 20px 0;
  
  gap: 40px;
  margin-top: 5px;
 
}

#horariosTitle h2 {
  color: white; 
  font-family: inherit; 
  font-size: 42px; 
  text-align: center; 
  width: auto; 
  height: auto;

}

#horariosContainer {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap;
  gap: 20px;

  margin: auto;
  margin-bottom: 30px;
  background-color: #202324;
  padding: 20px 0 20px 0;
}

.horario {
  background-color: #353535;
  width: 600px;
  border-radius: 25px;
  position: relative;
 
  display: flex;
  
  flex-direction:column ;
  align-items: center;

  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

}

.horario h4 {
  color: white; 
  font-family: inherit; 
  font-size: 24px; 
  text-align: center; 
  width: auto; 
  height: auto;
}

/*
    FOOTER DE LA WEB
 */

.footer {
  background: #202324;
  color: #ffffff;
  padding: 60px 50px;
  font-family: inherit;
}

.footer-container{
  max-width: 1400px;
  margin: 0 auto;
}

.footer-column{
  background-color: #353535ce;
  padding: 80px 0 ;
}

.footer-row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.footer-links{
  width: 25%;
  padding: 0 15px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links h4{
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 500;
  border-bottom: 2px solid #5b5754;
  padding-bottom: 10px;
}

.footer-links ul.social-icons{
  display: flex;
  flex-direction: row;
  padding: 0;
  gap : 10px;
  
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #b0b0b0;
  display: block;
  margin-bottom: 10px;
  transition: all .3s ease;

}

.footer-links ul li a:hover {
  color: #ffffff;
  padding-left: 5px;
}

.social-links a{
  display: inline-block;
  min-height: 30px;
  width: 40px;
  background-color: rgba(255, 255, 255,);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all .5s ease;  
}

.social-links a:hover {
  background-color: #ffffff;
  color: #202324;
  transform: translateY(-5px);
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-logo img {
  width: 150px;
  height: auto;

  
}

.footer-divider {
  width: 100%;
  height: 2px;
  background: #c47032;
  margin-top: 20px;
}

.bottom-text {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  opacity: 0.8;
}



/* 
   RESPONSIVE PARA TELEFONOS
*/

@media (max-width: 1200px) {

  #header {
    height: 90px;
    width: 90%;
  }

  #header img {
    height: 70px;
    margin-left: 10px;
  }

  #header h1 {
    font-size: 14px;
    margin-left: 10px;
    padding-left: 10px;
  }

  .headerButtons {
    margin-right: 15px;
    padding: 6px 8px;
  }

  #ReserveNow {
    padding: 1px 10px;
    font-size: 14px;

  }

  .HeaderButton {
    font-size: 14px;
    padding: 6px 8px;
  }

  #principalSection {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 80px;
    align-items: center;
  }

  #principalSection h2 {
    font-size: 30px;
  }

  #principalSection h4 {
    font-size: 18px;
    margin-top: 10px;
  }

  #instalationsContainer {
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }

  #instalationsContainer .instalation {
    width: 90%;
    margin-bottom: 20px;
    padding: 5px 0 5px 0 ;
  }

  #instalationContainer .instalation h3 {
    font-size: 16px;
  }

  #principalButtons {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  #instalacionesWidgetsTitle h2{
    width: 100%;
    font-size: 28px;
    margin: 20px 0 20px 0;    
  }

  .container_widget_deporte {
    flex-direction: wrap;
    align-items: center;
    width: 40%;
  }

  .widget_deporte {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }

  .widget_deporte img {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
  }

  .widget_deporte:hover {
    transform: none;
  }

  .container_widget_deporte .widget_deporte p {
    font-size: 12px;
    margin: 10px 20px 10px 20px;
  }

  .horario {
    max-width: 55%;
  }

  .footer-row {
    
    align-items: center;
  }

  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }

}